.inputs,
.inputsParents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
}

.inputsParents {
  height: 425px;
  overflow-y: auto;
}

/* 스크롤바 전체 */
.inputsParents::-webkit-scrollbar {
  width: 2px; /* 스크롤바의 너비 */
}

/* 스크롤바 배경 */
.inputsParents::-webkit-scrollbar-track {
  background: #f1f1f100; /* 배경 색상 */
}

/* 스크롤바 핸들 */
.inputsParents::-webkit-scrollbar-thumb {
  background: #8b8b8b; /* 핸들 색상 */
}

/* 핸들에 마우스를 올렸을 때 */
.inputsParents::-webkit-scrollbar-thumb:hover {
  background: #555; /* 핸들 색상 변경 */
}

.inputsParents input {
  width: 280px;
  height: 40px;
  font-size: 17px;
  margin-left: -37px;
  margin-bottom: 15px;
  background: #abffff;
  text-align: center;
}

.inputButton {
  background: none;
  width: 40px;
  height: 25px;
  margin-bottom: 15px;
  margin-left: -50px;
  padding: 0;
}

.inputsParents .addWord {
  margin-left: -27px;
}

.addButton {
  margin-left: 230px;
}
