.inputsParents {
  max-height: 400px;
  overflow-y: auto;
}

/* 스크롤바 전체 */
.inputsParents::-webkit-scrollbar {
  width: 2px; /* 스크롤바의 너비 */
}

/* 스크롤바 배경 */
.inputsParents::-webkit-scrollbar-track {
  background: #f1f1f100; /* 배경 색상 */
}

/* 스크롤바 핸들 */
.inputsParents::-webkit-scrollbar-thumb {
  background: #8b8b8b; /* 핸들 색상 */
}

/* 핸들에 마우스를 올렸을 때 */
.inputsParents::-webkit-scrollbar-thumb:hover {
  background: #555; /* 핸들 색상 변경 */
}

.roomList {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.roomList input {
  width: 240px;
  height: 40px;
  margin: 0 10px 20px 10px;
  background: #abffff;
}

.inputButton {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.bottomButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 10px;
}

.addGroup {
  margin-top: 10px;
  margin-right: 20px;
}

.deleteGroup {
  margin-top: 10px;
}
