.ChatId {
  margin-top: 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.topButton {
  display: flex;
  justify-content: end;
}

.topButton button {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: rgb(0, 10, 18);
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  height: 65px;
  background-color: #a9ffff;
  overflow-x: auto;
  font-size: 22px;
}

.menu::-webkit-scrollbar {
  height: 5px;
}

.menu::-webkit-scrollbar-track {
  background: #73e1e1;
}

.menu::-webkit-scrollbar-thumb {
  background: #018989;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #007575;
}

.menu > div {
  min-width: 30%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  border-right: 1px solid #37b1b1;
}

.active {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61ffff;
=======
  height: 70px;
  background-color: #80c8c3;
  overflow-x: auto;
}

.menu div {
  width: 3000px;
  display: flex;
  justify-content: center;
>>>>>>> 21f9327677d98bb2862ee0947802de2965db2e34
}

.menu button {
  border-radius: 15%;
  width: 23px;
  height: 23px;
  border: none;
  background-color: rgb(98, 162, 194);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomButton {
  display: flex;
  justify-content: flex-end;
}

.createNewGroup {
  margin-top: 10px;
  margin-right: 20px;
}

.selectAllButton {
  margin-top: 10px;
}
